<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Embedded Javascript Templating - Built by Julius Olajumoke</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    h1 		{ font-size: 34px !important; font-weight: 600 !important;  }
</style>